[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[dev-packages]
pylint = "*"
yapf = "*"

[packages]
django = "*"
djangorestframework = "*"
python-decouple = "*"
django-webpack-loader = "*"

[requires]
python_version = "3.5"
